body{
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
}
header{
	color: #fff;
	background-image: url(../img/theme-header.png);
	height: 1000px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: black;
}
header div.menu {
	background: rgba(0, 0, 0, 0.4);
	height: 134px;
}
header div.menu a#log img{
	display: block;
	padding-top: 50px;
	padding-left: 100px;
}
header nav ul{
	color: white;
	list-style-type: none;
}
header div ul li{
	display: inline-block;
	padding-left: 50px;
	padding-top: 50px;
}
header nav ul li a img{
	margin-right: 50px;
	padding-left: 50px;
}
header nav ul li a:hover{
	color: #39b9ef;
	text-decoration: underline;
}
header nav ul li a{
	font-size: 16px;
	color: white;
	text-decoration: none;
}
header div.call-to{
	text-align: center;
	margin-top: 345px;
}
header div.call-to h1{
	font-weight: bold;
	font-size: 72px;
}
header div.call-to h1 span{
	color: #2ebaee;
}
header div.call-to p{
	font-size: 24px;
	margin-bottom: 60px;
}
header div.call-to a{
	font-size: 18px;
	font-weight: bold;
	padding: 10px 35px 13px 35px ;
	border-radius: 40px;
	text-decoration: none;
	color: #fff;
	background-color: #2ebaee;
	margin: 0 auto;
}
section{
	background-image: url(../img/theme-services.jpg);
	background-repeat: no-repeat;
	background-position: center	center;
}
section div.section1{
	padding-top: 50px;
}
section h2{
	color: #242424;
	font-size: 48px;
	font-family: Montserrat;
	display: block;
}
section h2.top{
	border-bottom: 1px solid #e7e7e7;
	margin: 80px 0px ;
	padding-bottom: 80px;
	text-align: center;
}
section div.section1 img{
	margin-bottom: 40px;
}
section div.section1 h3{
	font-size: 24px;
	font-family: Montserrat Thin;
	margin-bottom: 35px;
}
section div.section1 p{
	font-size: 14px;
	color: #878787;
}
section div.button1{
	text-align: center;
	margin-top: 60px;
}
section div a.services-button1{
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	padding: 13px 30px 13px 30px;
	border-radius: 40px;
	text-decoration: none;
	color: #fff;
	background-color: #2ebaee;
}
section div.section2 h2{
	font-size: 36px;
	font-family: Montserrat Thin;
	margin-top: 270px;
	width: 525px;
}
section div.section2 p{
	font-size: 14px;
	color: #878787;
	padding-top: 55px;
	width: 525px;
}
section div.section2 img{
	width: 870px;
	padding-top: 185px;
}
section div.section2 a{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	width: 150px;
	height: 45px;
	border-radius: 40px;
	text-decoration: none;
	line-height: 44px;
	color: #fff;
	background-color: #2ebaee;
	text-align: center;
}
section div.button2{
	margin-top: 60px;
}
section div.section3{
	margin-top: 250px;
	padding-bottom: 100px;
}
section div.section3 h2{
	font-size: 36px;
	color: #fff;
	padding-top: 100px;
	margin: 0 auto;
}
section div.section3 p{
	/*width: 520px;*/
	margin: 0 auto;
	font-size: 14px;
	color: #fff;
	padding-top: 50px;
}
section div.section3-1{
	text-align: left;
	padding-left: 130px;
}
section div.button3{
	padding-top: 50px;
}
section div.section3 a{
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	width: 150px;
	height: 45px;
	border-radius: 40px;
	text-decoration: none;
	line-height: 44px;
	color: #2ebaee;
	background-color: #fff;
	text-align: center;
}
article div.section4{
	text-align: left;
}
article div.section4 img{
	max-width: 100%;
}
article div.section4 h1{
	font-size: 72px;
	font-family: Montserrat Thin;
	padding-top: 142px;
	font-weight: normal;
	padding-left: 80px;
}
article div.text p{
	font-size: 14px;
	color: #878787;
	padding-left: 80px;
}
article div.button4{
	text-align: left;
	padding-left: 80px;
	padding-top: 70px;
}
article div.button4 a{
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	width: 150px;
	height: 45px;
	border-radius: 40px;
	text-decoration: none;
	line-height: 44px;
	color: #fff;
	background-color: #2ebaee;
	text-align: center;
}
article div.block-1{
	background-image: url(../img/block1.png);
	min-height: 430px;
	height: 430px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: left;
}
article div.block-2{
	background-image: url(../img/block2.png);
	min-height: 430px;
	height: 430px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: left;
} 
article div.block-3{
	background-image: url(../img/block3.png);
	min-height: 430px;
	height: 430px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: left;
} 
article div.block-4{
	background-image: url(../img/block4.jpg);
	min-height: 430px;
	height: 430px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: left;
} 
article div.blocks h3{
	font-size: 48px;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
	height: 430px;
	background: rgba(0, 0, 0, 0.7);
}
article div.blocks h3:hover{
	font-size: 48px;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
	height: 430px;
	background: rgba(47, 157, 197, 0.7);
}
.texter{
	padding-top: 150px;
	padding-left: 70px;
}
article div.check{
	text-align: center;
	padding-left: 50px;
}
article h1#teamm{
	color:	black;
	font-size: 72px;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 270px;
}
article span{
	color: #2ebaee;
}
article div.team{
	text-align: center;
	padding-bottom: 110px;
}
article div.team h3{
	font-size: 36px;
	color: #242424;
}
article div.team h6{
	font-size: 14px;
	color: #d3d3d3;
}
article div.team a{
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	width: 150px;
	height: 45px;
	border-radius: 40px;
	text-decoration: none;
	line-height: 44px;
	color: #fff;
	background-color: #2ebaee;
	text-align: center;
}
article div.contact{
	background-image: url(../img/theme-contact.png);
	height: 720px;
	background-repeat: no-repeat;
	background-position: center	center;
}
article div.contact-text h1{
	font-size: 72px;
	font-weight: bold;
	color: #fff;
}
article div.contact-text h6{
	font-size: 18px;
	color: #878787;
	padding-top: 30px;
}
article div.contact-text h2{
	font-size: 30px;
	color: #878787;
	padding-top: 10px;
}
article div.contact-text{
	padding-top: 150px;
}
article div.answer{
}
article input{
	color: #fff;
	font-size: 14px;
	margin-bottom: 25px;
	width: 635px;
	border-radius: 10px;
	height: 60px;
	border: 1px solid #535353;
	background: none;
}
article textarea{
	color: #fff;
	font-size: 14pxpx;
	border-radius: 5px;
	height: 200px;
	width: 635px;
	background: none;
}
article ul.ftnav{
	list-style-type: none;
	padding-top: 70px;
}
article ul.ftnav li{
	display: inline-block;
	padding-right: 30px;
}
article div.footernav{
	display: inline-block;
}
article div.phone{
	font-family: Montserrat Thin;	
}
article div.contact-input{
	text-align: center;
}
article div.button5{
	padding-top: 30px;
}
article div.contact-input button{
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	width: 150px;
	height: 45px;
	border-radius: 40px;
	text-decoration: none;
	line-height: 44px;
	color: #fff;
	background-color: #2ebaee;
	text-align: center;
	border: none;
}
footer{
	background: rgba(0, 0, 0, 1.0);
	height: 140px;
}
footer ul li{
	display: inline-block;
	padding-top: 60px;
	padding-right: 20px;
}
footer ul li a{
	color: #949494;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}
footer ul li a:hover{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}
footer p{
	color: #b2b2b2;
	font-size: 14px;
	padding-top: 60px;
}
footer div.last{
	text-align: center;
}
.img-adaptive{
	display: block;
	max-width: 100%;
	height: auto;
}

/*///////////////////////////////////
/////////////Адаптивность////////////
///////////////////////////////////*/

@media (max-width: 575.98px) {  }


@media (min-width: 576px) and (max-width: 767.98px) {  
header div.menu a#log img{
	display: block;
	padding-top: 25px;
	padding-left: 200px;
}
header div ul li{
	display: inline-block;
	padding-left: 25px;
	padding-top: 25px;
}
header div.call-to h1{
	font-size: 45px;
	font-weight: bold;
}
header div.call-to p{
	font-size: 20px;
}
section div.section1 h3{
	font-size: 21px;
	font-family: Montserrat Thin;
	margin-bottom: 35px;
	padding-right: 10px;
}
section h2.top {
    border-bottom: 1px solid #e7e7e7;
    margin: 30px 0px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 35px;
}
section div.button1 {
    text-align: center;
    margin-top: 30px;
}
section div.section2 h2 {
    font-size: 36px;
    font-family: Montserrat Thin;
    margin-top: 80px;
    width: 525px;
}
section div.section2 p {
    font-size: 14px;
    color: #fff;
    padding-top: 100px;
    width: 300px;
}
section div.section3 {
    margin-top: 50px;
    padding-bottom: 50px;
}
section div.button2 a{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    width: 150px;
    height: 45px;
    border-radius: 40px;
    text-decoration: none;
    line-height: 44px;
    color: #2ebaee;
    background-color: #fff;
    text-align: center;
} 
section div.section3 h2 {
    font-size: 18px;
    color: #fff;
    padding-top: 10px;
    margin: 0 auto;
}
section div.section3-1 {
    text-align: left;
    padding-left: 30px;
}
section div.section3 p {
    margin: 0 auto;
    font-size: 14px;
    color: #fff;
    padding-top: 10px;
}
article div.section4 h1 {
    font-size: 28px;
    font-family: Montserrat Thin;
    padding-top: 15px;
    font-weight: normal;
    padding-left: 15px;
}
article div.text p {
    font-size: 14px;
    color: #878787;
    padding-left: 15px;
}
article div.button4 {
    text-align: left;
    padding-left: 80px;
    padding-top: 0px;
}
article div.text{
	text-align: center;
}
article div.button4{
	text-align: center;
	padding-right: 70px;
}
article div.blocks{
	padding-top: 20px;
}
article div.blocks h3 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0 auto;
    height: 230px;
    background: rgba(0, 0, 0, 0.7);
}
#texter {
    padding-top: 50px;
    padding-left: 30px;
}
article div.block-1 {
    background-image: url(../img/block1.png);
    min-height: 230px;
    height: 230px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: left;
}
article div.block-2 {
    background-image: url(../img/block2.png);
    min-height: 230px;
    height: 230px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: left;
}
article div.block-3 {
    background-image: url(../img/block3.png);
    min-height: 230px;
    height: 230px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: left;
}
article div.block-4 {
    background-image: url(../img/block4.jpg);
    min-height: 230px;
    height: 230px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: left;
}
article div.blocks h3:hover{
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
	height: 230px;
	background: rgba(47, 157, 197, 0.7);
}
article h1#teamm {
    color: black;
    font-size: 28px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
}
article div.teams{
	padding-top: 15px;
}
article img.teamimg{
	height: 190px;
	width: 190px;
}
article div.team h3 {
    font-size: 24px;
    color: #242424;
}
article div.team {
    text-align: center;
    padding-bottom: 50px;
}
article div.contact-text h1 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}
article div.contact-text h2 {
    font-size: 18px;
    color: #878787;
    padding-top: 10px;
}
article div.contact-text h6 {
    font-size: 18px;
    padding-top: 10px;
}
article div.contact-input input{
	width: 90%;
	height: 45px;
}
article div.contact-input textarea{
	width: 90%;
	height: 100px;
}
footer ul li {
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
}
footer p {
    color: #b2b2b2;
    font-size: 14px;
    padding-top: 10px;
}
footer {
    background: rgba(0, 0, 0, 1.0);
    height: 90px;
}
section div.section2 img {
    width: 870px;
    padding-top: 250px;
}
section div.section3 img{
	padding-top: 50px;
}


}
/*********************************************************************************************************************/
@media (min-width: 768px) and (max-width: 991.98px) {  
header div.menu a#log img{
	display: block;
	padding-top: 45px;
	padding-left: 50px;
}
header nav ul li{
	display: inline-block;
	padding-left: 20px;
	padding-top: 45px;
}
header nav ul li a img{
	margin-right: 30px;
	padding-left: 30px;
}
article div.contact-text h1{
	font-size: 35px;
}
footer ul li{
	display: inline-block;
	padding-top: 30px;
	padding-right: 10px;
}
footer div.last{
	text-align: right;
}
footer p{
	color: #b2b2b2;
	font-size: 14px;
	padding-top: 30px;
}
footer{
	background: rgba(0, 0, 0, 1.0);
	height: 90px;
}
article div.contact-text h6{
	font-size: 14px;
	color: #878787;
	padding-top: 30px;
}
article div.contact-text h2{
	font-size: 24px;
	color: #878787;
	padding-top: 10px;
}
article div.contact-input input{
	width: 90%;
}
article div.contact-input textarea{
	width: 90%;
}
article div.teams{
	padding-top: 15px;
}
article div.section4 h1{
	font-size: 25px;
	font-family: Montserrat Thin;
	padding-top: 7px;
	font-weight: normal;
	padding-left: 50px;
}
article div.button4{
	text-align: left;
	padding-left: 50px;
	padding-top: 0px;
}
article div.text p{
	font-size: 14px;
	color: #878787;
	padding-left: 50px;
}
article div.check{
	text-align: center;
}
article h1#{
	color:	black;
	font-size: 45px;
	font-weight: bold;
	padding-top: 50px;
	padding-bottom: 50px;
}
article div.blocks h3{
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
	height: 430px;
	background: rgba(0, 0, 0, 0.7);
}
article div.blocks h3:hover{
	font-size: 26px;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
	height: 430px;
	background: rgba(47, 157, 197, 0.7);
}
section div.section3 img{
	padding-top: 0px;
}
section div.section2 p{
	font-size: 14px;
	color: #878787;
	padding-top: 55px;
	width: 250px;
}
section div.section2 h2{
	width: 270px;
	padding-top: 0px;
	margin-top: 100px;
}
section div.section2 img{
	padding-top: 100px;
}
section div.button2 a{
	border: 1px solid #fff;
} 
section div.section1 p{
	padding-right: 20px;
}
header div.call-to h1{
	font-size: 45px;
	font-weight: bold;
}
article h1#teamm{
	color:	black;
	font-size: 40px;
	font-weight: bold;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 0px;
	margin-left: 150px;
}
section div.section3{
	margin-top: 50px;
	padding-bottom: 1px;
}
section div.button3{
	padding-top: 10px;
}
section div.section3 h2{
	font-size: 25px;
	color: #fff;
	padding-top: 100px;
	margin: 0 auto;
}
section div.section3 p{
	font-size: 14px;
	padding-top: 10px;
}
section div.section3-1 h2{
	padding-top: 0px;
}
section div.section3-1{
	padding-left: 45px;
	padding-bottom: 10px;
}
article div.check{
	display: block;
	text-align: left;
	padding-left: 0px;
	margin-left: 0px;
}
article div.team h3{
	font-size: 20px;
}
section div.section2-1 p{
	color: #fff;
}
section div.section2-1 span{
	color: #2ebaee;
}
}
/*******************************************************************************************************/
@media (min-width: 992px) and (max-width: 1199.98px) { 
section div.section3 {
    margin-top: 50px;
    padding-bottom: 70px;
}
article div.contact-input input{
	width: 90%;
}
article div.contact-input textarea{
	width: 90%;
}
section h2.top{
	margin: 40px 0px ;
	padding-bottom: 40px;
}
section div.section2 h2 {
    font-size: 36px;
    font-family: Montserrat Thin;
    margin-top: 170px;
}

footer div.last{
	text-align: right;
}
article div.check{
	text-align: center;
}
article h1#teamm{
	color:	black;
	font-size: 45px;
	font-weight: bold;
	padding-top: 50px;
	padding-bottom: 50px;
}
article div.contact-text h1{
	font-size: 54px;
}
article div.section4 h1{
	font-size: 54px;
	font-family: Montserrat Thin;
	padding-top: 25px;
	font-weight: normal;
	padding-left: 50px;
}
article div.button4{
	text-align: left;
	padding-left: 50px;
	padding-top: 10px;
}
article div.text p{
	font-size: 14px;
	color: #878787;
	padding-left: 50px;
}
section div.section2 p{
	font-size: 14px;
	color: #878787;
	padding-top: 55px;
	width: 450px;
}
section div.section2 img{
	width: 870px;
	padding-top: 175px;
}
section div.section3 img{
	padding-top: 100px;
}
article div.blocks h3{
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
	height: 430px;
	background: rgba(0, 0, 0, 0.7);
}
article div.blocks h3:hover{
	font-size: 32px;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
	height: 430px;
	background: rgba(47, 157, 197, 0.7);
}
}
/*******************************************************************************************************/
@media (min-width: 1200px) and (max-width: 1780.90px) { 
section div.section1 h3{
	font-size: 24px;
	font-family: Montserrat Thin;
	margin-bottom: 35px;
	padding-right: 10px;
}
article h1#teamm {
    color: black;
    font-size: 58px;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 270px;
}
article div.blocks h3:hover{
	font-size: 38px;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
	height: 430px;
	background: rgba(47, 157, 197, 0.7);
}
section h2.top {
    border-bottom: 1px solid #e7e7e7;
    margin: 50px 0px;
    padding-bottom: 50px;
    text-align: center;
}
section div.section3 h2 {
    font-size: 36px;
    color: #fff;
    padding-top: 0px;
    margin: 0 auto;
}
article div.contact-input input{
	width: 90%;
}
article div.contact-input textarea{
	width: 90%;
}
footer div.last{
	text-align: right;
}
#teamm{
	padding-left: 100px;
	padding-top: 50px;
}
header div.call-to h1{
	font-size: 60px;
	font-weight: bold;
}
article div.section4 h1{
	font-size: 60px;
	font-family: Montserrat Thin;
	padding-top: 50px;
	font-weight: normal;
	padding-left: 50px;
}
article div.button4{
	text-align: left;
	padding-left: 50px;
	padding-top: 30px;
}
article div.text p{
	font-size: 14px;
	color: #878787;
	padding-left: 50px;
}
article div.blocks h3{
	font-size: 38px;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
	height: 430px;
	background: rgba(0, 0, 0, 0.7);
}
section div.section1 p{
	padding-right: 20px;
}
}
